@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap');
/* GLOBAL STYLES */
.flex-display {
	display: flex;
}

.justify-center {
	justify-content: center;	
}

.align-center {
	align-items: center;
}

* {
	font-family: monospace;
	margin: 0;
	padding: 0;
}


body {
	background-image: url("/images/background.jpeg");
	background-position: center;
	background-size: cover;
}

.reg-container {
	height: 100vh;
}

.create {
	text-align: center;
}

#title {
	display: flex;
	z-index: 10;
	color: white;
	margin: 0px;
	position: absolute;
	top:5%; 
	left: 5%;
}

#view {
	display: flex;
	z-index: 10;
	color: white;
	margin: 0px;
	position: absolute;
	top:10%;
	left: 5%;
}

#username-page{
	z-index: 999999;
	display: block;
	position: absolute;
	text-align: center;
	height:100%;
	width: 100%;
	background-color: #F7F5F6;
}

.username-page-container {
	padding-top:100px
}
/* FORM */
label {
	font-size: 24px;	
}

#music{
	z-index: 99;
	margin: 0px;
	position: absolute;
	bottom:2%;
	right: 2%;
	opacity: 0.5;
}
#music:hover{
	opacity:1;
}
form {
	padding: 75px 50px;
	background-color: #F7F5F6;
	
}

button {
	border: none;
	font-size: 24px;
	padding: 5px 10px;
}

button:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}
/* RECEIPTS */
.barcode {
	font-family: 'Libre Barcode 39 Extended', cursive;
	font-size: 40px;
	margin-bottom: 0px;
}

.line {
	margin-top: 13px;
}

/*=======*/
main{
	display:flex;
	align-items:center;
	justify-content: center;
	height: 100vh;
	background-color: #00000021;
}


/* RECEIPT MACHINE */
.receipt-machine {
	position:fixed;
	bottom:0;
	width: 762px;
}
/* CHAT BOX*/
#messageForm {
	background-color: #F0EFED;
	
	position:fixed;

	bottom:60px;
	z-index: 100;
	width: 400px;
	box-shadow:none;
	padding: 0px;
	margin-left: 20px;
}

#messageArea {
	z-index:100;
}
#chat-page {
	position: absolute;
	bottom:100px;
	z-index: 100;
	width: 513px;
	background-color: #F3F2F0;
	min-height: 325px;
	margin-left: 19px;
	max-height: 80%;
	display:flex; 
	flex-direction:column-reverse;
	overflow:auto;
	box-shadow: 0px -10px 10px -10px black;
}

.receipt-paper {
	height: 600px;
	width: 500px;
	background-color: #F3F2F0;
	z-index: 99;
	text-align: center;
}

button span {
	font-size: 16px;
}
.chat-message, .event-message {
	display:flex;
	border-bottom: dotted;
    margin-right: 25px;
    padding-top: 10px;
    border-bottom: 2px dotted #676767a3;
}
a {
	color:white;
	text-decoration: none;
}

a:hover {
	color:red;
	text-decoration: underline;
}
span {
	font-weight: bold;
	font-size: 14px;
}
#send{
	background-color: #F2F1EF;
}
#send:hover{
	box-shadow: none;
}
.chat-titles{
	padding-left: 20px;
}
#message {
	background-color: #F3F2F0;
	border-bottom:dotted;
	border-top:none;
	border-right:none;
	border-left:none;
}

.input-group {
	display: flex;
	align-items: center;
	margin-left: 20px;
	background-color: #F2F1EF;
}
/* CIRCLE ANIMATED BACKGROUND */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(200 179 26 / 40%);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
	left: 5%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
    animation-duration: 11s;
}
.circles li:nth-child(12){
    left: 15%;
    width: 140px;
    height: 140px;
    animation-delay: 1s;
    animation-duration: 10s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-height: 1200) {
	#chat-page{
	max-height: 600px;}
}












